@model TModel

@{
    ViewBag.Title = "Your Tasks";
    Layout = "_Layout";
}

<h2>title</h2>

@if(Model.Tasks.Count == 0)
{
    <div class="alert alert-info" role="alert">No Tasks Found!</div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">IsDone</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Deadline</th>
        </tr>
        </thead>
        @foreach(var task in Model.Tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        }
    </table>
}